<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <appSettings>
    <add key="connectionString" value="Data Source=localhost;Initial Catalog=dovetail;uid=rulemanager;pwd=rulemanager" />
    <add key="databaseType" value="MSSQL" />
    <add key="logConfigFilePath" value="c:\repo\powershell\logging.config" />
    <add key="enableLogging" value="true" />    
  </appSettings>
</configuration>
