<?xml version="1.0"?>
<configuration>
  <startup>
  </startup>
  <appSettings>
     <add key="connectionString" value="Data Source=.;Initial Catalog=dovetail;User Id=dovetail;Password=secret" />
    <add key="databaseType" value="MSSQL" />
    <add key="logConfigFilePath" value="c:\\DovetailCRM\\logs\\logging.config" />
    <add key="enableLogging" value="false" />
  </appSettings>
</configuration>
